/*      mlab.css
*/

/* general styles */

.bordered{
  border: 2px solid black;
}

.dont-show{
  opacity: 0;
  z-index: -1 !important;
}

body{
  font-size: 1.8vw;
  width: 100%;
}

.div-msg-area{
  position: fixed;
  bottom: 5px;
  left: 5px;
}

/* page specific */

#h1-title{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3.5vw;
}


#div-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#div-holder{
  width: 30vw;
  height: 30vw;
  padding: 1vw;
  position: relative;
}

#input-list{
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #AAA solid 2px;
}

#input-list:focus {
  outline-width: 0;
}

#div-wait-holder{
  /*border: 2px solid lightgray;*/
  border-radius: 5%;
  width: 100%;
  height: calc(100% - 6.5vw);
  z-index: 1;
  background: rgba(240, 240, 240, 0.8);
  /*padding: 10%;*/
  position: absolute;
  top: 5.5vw;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#ul-storage-items{
  height: calc(100% - 4vw - 2px);
  overflow: scroll;
  padding-top: 2.5vw;
  padding-left: 3vw;
}

#h2-press-enter{
  font-size: 3vw;
  margin: 0;
}

#img-icon{
  width: 3vw;
  position: absolute;
  right: 5px;
  top: -0.2vw;
  cursor: pointer;
  z-index: 90 !important;
}

#form{
  position: relative;
}

@media only screen and (max-width: 500px) {
  #div-holder{
    width: 70vw;
    height: 70vw;
    padding: 1vw;
    position: relative;
  }

  #h1-title{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 7vw;
  }

  #img-icon{
    width: 5.5vw;
    z-index: 90 !important;
  }

  body{
    font-size: 4vw;
    width: 100%;
  }

  #div-wait-holder{
    top: 11.5vw;
    height: calc(100% - 4.5vw);
  }

  #h2-press-enter{
    font-size: 6vw;
    margin: 0;
  }
}
